name: arm64

on: [push, pull_request]

jobs:
  aarch64:
    # The host should always be Linux
    runs-on: ubuntu-latest
    name: Ubuntu arm64

    steps:
      - uses: actions/checkout@v2

      - uses: uraimo/run-on-arch-action@v2.1.1
        name: Run commands
        id: runcmd
        with:
          arch: aarch64
          distro: ubuntu20.04

          # Not required, but speeds up builds by storing container images in
          # a GitHub package registry.
          githubToken: ${{ github.token }}

          install: |
            apt-get update -q -y
            apt-get install -q -y cmake gcc

          run: |
            cmake -B build
            cmake --build build
            ctest --test-dir build -V
